.bg-container {
    background-color: #232323;
    min-height: 100vh;
    background-size: cover;
    padding: 25px;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1366px;

}
.card-inner-container {
    width: fit-content;
    text-align: left;
}
.heading {
    font-family: 'Roboto';
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;

}
.covid-19 {
    color: #ff4057;
    
}
.form-container {
    display: flex;
    flex-direction: column;
    
}
.input-field {
    color: #9e9e9e;
    background-color: #2e2e2e;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    width: 340px;
    border-radius: 5px;
}
.verify-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-in {
    color: #ef5350;
    font-size: 16px;

}
.verify-button {
    background-color: #ef5350;
    color: #ffffff;
    border-radius: 5px;
    border:  none;
    width: 100px;
    height: 36px;
}